.task {
	background: linear-gradient( rgba(1, 116, 96, 0.7), rgba(195, 250, 236, 0.027),);
	&__container {
		max-width: 1100px;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
		padding: 20px;
	}
	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 20px;
	}
	&__label {
		font-size: 30px;
		width: 400px;
		text-align: center;
		color: rgb(55, 77, 69);
	}
	&__input {
		outline: none;
		border: none;
		height: 40px;
		width: 200px;
		margin: 20px;
		border-radius: 25px;
		font-size: 20px;
		text-align: center;
	}
	&__button {
		font-size: 30px;
		border: 1px solid rgba(182, 247, 241, 0.445);
		border-radius: 8px;
		padding: 10px 37px;
		background: rgba(1, 78, 65, 0.801);
		color: rgb(240, 255, 252);
		box-shadow: 1px 1px 8px rgba(220, 255, 246, 0.349);
		width: fit-content;
		&:hover {
			background: rgba(19, 116, 99, 0.801);
		}
	}
	&__error {
		font-size: 20px;
		font-weight: 700;
		color: rgb(196, 12, 12);
	}
}

.result {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
	&__box {
		display: flex;
		flex-direction: column;
	}
	&__image {
		border-radius: 5px;
		margin: 50px 0 0;
		&_task4 {
			transform: scale(1.5);
			border: 20px double rgba(1, 78, 65, 0.801);
			margin: 100px 0 0;
		}
	}
	&__author {
		margin: -22.5px 0 0 0;
		font-style: italic;
		font-size: 18px;
		text-align: right;
		width: fit-content;
		background: linear-gradient(rgba(171, 255, 234, 0.925), rgba(45, 145, 128, 0.856));
		box-shadow: 2px -2px 5px rgba(177, 255, 235, 0.712);
		color: rgb(1, 59, 50);
		padding: 0 10px;
		border-radius: 2px;
	}
}



