* {
	bottom: 0;
	margin: 0;
	padding: 0;
	outline: none;
}

.body {
	background: linear-gradient(rgba(195, 250, 236, 0.7), rgba(1, 116, 96, 0.7));
	height: 100vh;
	padding: 20px;
}
.choice {
	color: rgb(173, 20, 20);
	border: 3px solid rgb(173, 20, 20);
	width: fit-content;
	padding: 20px 40px;
	margin: 0 auto;
	&__main-text{
		font-size: 30px;
		font-style: italic;
		font-weight: 600;
		display: flex;
		justify-content: center;
		&::after {
			content: '\2935';
			display: flex;
			align-items: center;
			height: 20px;
			font-style: normal;
			rotate: 180deg;
			transform: scale(-1, 1);
			padding-left: 10px;
		}
	}
	&__text {
		font-size: 17px;
		font-style: italic;
	}
}

@import './header-style';
@import './task-style'